.box1{
    background-color: #00A9CE;
    width: 300px;
    height: 200px;

}
.box2{
    background-color: #FDDA25;
    height: 66.6px;
    width: 300px;
    position:absolute; 
    top: 123px;
    z-index: 0;

}
.triangle{
    height: 0;
    width:0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 160px solid black;
    position:relative;
    z-index: 1;
}
