*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    

.rbk, .lbk{
    height: 100vh;
    display: flex;
    align-items: center;
}
.lbk{
    background-image: url(ph4.png);
    background-size: cover;
    width:100%;
    padding-left: 10rem;

}
.rbk{
    width:20%;
    
    background-color: #6c584c;
    
    padding-left: 12rem;
    
}
.overall{

    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    
}
.navbar a{
    margin: 0 7px;
    margin-inline-start: 180px;
    margin-top: 20px;
    color: #132a13;
    font-size: 1.5rem;
    font-weight: 2rem; 
       
}

.content{
    left: 2px;
}

.content p{
    font-size: 2rem;
    display: flex;
    
}
.content h4{
    font-size: 2rem;
    color: #001524;
}

.content h3{
    font-size: 7.5rem;
    color:#6c584c;
}
.btn{
    border: 2rem;
    font-size: 1.7rem;
    padding: .7rem 1.6rem;
    border-radius:20px ;
    transition: .2s ease;
    

}
button:nth-child(1){
    background: transparent;
    font-size: 20px;
    


}
button:nth-child(2){
    background: transparent;
    color: black;
    margin-left: 1.6rem;
    font-size: 20px;
}
button:nth-child(1):hover{
    background:#ddbea9; 
    color: black;
}
button:nth-child(2):hover{
    background-color: #ddbea9;
    color: black;
}
.style .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 81.6%;
    transform: translate(-50%, -50%);
    
}
.circle:nth-child(1){
    background: linear-gradient( 90deg, #6c584c 50%, transparent 50%);
    width: 25rem;
    opacity: 08;

    

}
.circle:nth-child(2){
    background: red;
    width: 20rem;
    background-image: url(ph4.jpg);
    background-size: cover;
    


}
.about-me{
    font-family: fantasy;
    text-align: center;
    font-size: 3rem;
    opacity: 0.6;
} 
.myself{
    font-family: monospace;
    font-size: 1.9rem;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}    

.rbk2{
    background-image: url(ph4.png);
    background-size: cover;
    width:100%;   
    height: 100vh;
      
}
.extra{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    gap: 3.5rem;
    list-style-position: inside;
    line-height: 1.5;
    align-items: center;
    color: #5e503f;
    
    
}
.extra .skills{
    
    font-size: 2rem;
    border: 0.1rem solid black;
    height: 12.7rem;

    

}
.extra h4{
    font-size: 2.5rem;
    color: #6c584c;
}
.extra .hobbies{
    border: 0.1rem solid black;
    
    
}
ul{
    font-size: 1.5rem;
    color: #78290f;
    
}
ul:hover{
    color:#5e503f;
    font-size: 1.7rem;

}
.rbk3{
    background-image: url(ph4.png);
    background-size: cover;
    width:100%;   
    height: 100vh;
}
.project .small-project{
    
    display: flex;

}
.project{
    font-family: fantasy;
    font-size: 12rem;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    opacity: 0.5;
    position: relative;
   
}
.small-project{
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    color:#002855;
    margin-top: -10rem;
    position: absolute;
    margin-left: 35px;
    
    
}


.cover{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-left: 18rem;
    
}
.box{
    width: 118rem;
    height: 26rem;
    margin: 10px;
    box-shadow: -1px 0 8px #0000;
    background-color: #001524;
    margin-bottom: 7rem;
    
    

}
img{
    width: 30rem;
    height: 16rem;
    margin-left: 21px;
    margin-bottom: 0.5rem;
    margin-right: 21px;

}
h4{ color: #ddbea9;
    align-items: center;
    margin-left: 12px;
    font-size: 1.9rem;
    margin-bottom: 2rem;
    
}
h6{
    color: white;
    font-size: .9rem;
}
.box p{
    color: white;
    font: 0.1rem;
}
.box:hover{
    width:120rem;
    height: 27rem;
    box-shadow: 5px 5px 5px white;
    transition: .4s linear;
}
.contact-me:nth-child(1){
    margin-top:-8px;
    margin-right:15px;
    font-size: 2rem;
    float:right;
    
}

.rbk4{background-image: url(ph4.png);
    background-size: cover;
    width:100%;   
    height: 30rem;
}

form button{
    background-color: #001524;
    font-size:1rem;
    color: aliceblue;
    padding:10px;
    margin-top: .4rem;
    border:none;
    margin-left: 25rem;

    width:8rem ;

}
form button:hover{
    cursor:pointer;
    border:2px solid #ddbea9;
}
.user-info{
    width:60px;
}

form input,form textarea{
    display: flex;
    margin-left: 6rem;
    margin-top: .5rem;
    padding:10px;
    background-color: #f2e9e4;
    width: 30rem;
    display : block;   
    
}

.user h3{
    font-size: 6rem;
}

@media (max-width: 768px) {
    .overall{
        position: relative;
    }
    .lbk {
        width: 80vw;
        height: 100vh;
       
        background-size: cover;
    }
    .rbk{
        width: 20vw;
        
    }
    

}
/*
@media (max-width: 480px) {
    .overall {
        flex-direction: row;
    }

    .second-page, .third-page {
        width: 100%;
    }

    .project, .small-project, .user, .contact-me, .user-info {
        padding: 5px;
    }

    .rbk3 h3 {
        font-size: 1.2em;
    }
}
    
       
        
    
